{% extends 'core/base.html' %}
{% load static %}
{% block title %} - Noches{% endblock %}

{% block body %}
<div class='container'>
    <div class='row align-items-center'>
        <div class="col">
            <img src="{% static 'core/img/logo-ikea.png' %}" alt="logo-ikea">
        </div>
        <div class="col">
            <img src="{% static 'core/img/logo-inflow.png' %}" alt="logo-ikea">
        </div>
    </div>
    <div class="row">
        <h1><strong>Has subido archivos incorrectos, revisa y vuelve a subirlos, si persiste el error contacta con el administrador</strong></h1>
        <hr>
    </div>
    <div class="row align-items-center">
        <a href="{% url 'noche:upload_files' %}" role="button" class="btn btn-primary btn-lg my-2">Subir archivos</a>
    </div>
</div>
    
{% endblock body %}
